*{
	margin: 0;
	padding: 0;
	font-family: "PT Sans",Helvetica,Arial,Tahoma,sans-serif;
}
h1{
	margin: 70px 75px 0;
}
body{
	width: calc(100vw - 10px);
	background-color: #f6f5f3;
    font-size: 14px;
    color: #4a4a4a;
    overflow-x: hidden;
}
.logo{
    width: 100%;
    height: 100%;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    left: 0;
}
.icon,
.add_to_cart,
.product_info{
	width: 1em;
    height: 1em;
	font-size: 24px;
}
.icon:before,
.add_to_cart:before,
.product_info:before{
	content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/icon-sprite.svg);
    background-size: 101em 101em;
    display: block;
}
.icon--cart:before,
.icon--cart-grey:before {
    background-position: -86em -86em;
}
.icon--geo:before,
.icon--geo-grey:before {
    width: 1em;
    height: 1em;
    background-position: -51em -51em;
    display: inline-block;
    margin: 0 2.5px 0 0;
}
.icon--geo,
.icon--geo-grey,
.icon--phone,
.icon--phone-grey{
	font-size: 16px;
    width: 100%;
    height: 50%;
    padding: 20px 0;
    box-sizing: border-box;
}
.icon--geo > p,
.icon--geo-grey > p,
.icon--phone > p,
.icon--phone-grey > p{
	color: #4a4a4a;
    font-weight: 700;
	display: inline-block;
}
.icon--geo > p,
.icon--geo-grey > p{
	border-bottom: 1px dotted #4a4a4a;
}
.geo,
.phone{
	box-sizing: border-box;
}
.geo > h4,
.phone > h4{
	font-weight: 400;
	display: block;
	margin: 0 0 0 18px;
}
.icon--phone:before,
.icon--phone-grey:before{
    width: 1em;
    height: 1em;
    background-position: -64em -64em;
    display: inline-block;
    margin: 0 2.5px 0 0;
}
.top_info{
    background-color: #fff;
    width: 100vw;
    height: 74px;
    border-bottom: 1px solid rgb(240,240,240);
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-gap: 15px;
    justify-content: center;
    margin-top: 0;
    padding: 0 100px;
    box-sizing: border-box;
}
.menu{
	background-color: #fff;
	width: 100vw;
	height: 50px;
	position: fixed;
	border-bottom: 1px solid rgba(200,199,204,.5);
	z-index: 100;
	padding: 0;
	box-sizing: border-box;
}
.menu__item{
	min-width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #4a4a4a;
    font-size: 1.2em;
    padding: 0 25px;
    display: inline-block;
}
.menu__item:hover{
	background: rgb(240,240,240);
}
.menu__item--cart{
    right: 75px;
    position: absolute;
}
.cart_button{
	height: 50px;
    line-height: 60px;
    color: #8f8f8f;
}
.cart_button > *{
    display: inline-block;
    margin: -5px 2.5px;
}
.cart_button__text{
    width: 125px;
    padding: 0 10px 0;
    text-align: left;
    box-sizing: border-box;
}
.content{
	display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-gap: 15px;
    justify-content: center;
    width: 100vw;
    margin-top: 0;
    padding: 15px 100px;
    box-sizing: border-box;
}
.card{
	width: 100%;
	height: 322.5px;
	padding: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(74,74,74,.1);
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
    position: relative;
}
.card > .product_image{
	background-color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 215px;
	margin-bottom: 15px;	
}
.card > .product_name{
	font-size: 1.3em;
	font-weight: 600;
    color: #4a4a4a;
}
.card > .product_price{
	font-size: 1.25em;
	font-weight: 400;
    color: #4a4a4a;
}
.card > .product_price:after{
	content: '₽';
	margin-left: 2px;
	display: inline-text;
}
.card > .add_to_cart{
	border: 2px solid #f6f5f3;
	border-radius: 100%;
	padding: 7.5px;
	bottom: 10px;
	right: 10px;
	position: absolute;
	cursor: pointer;
}
.card > .add_to_cart:before{
	background-position: -78em -78em;
}
.card > .add_to_cart:hover:before{
	background-position: -81em -81em;
}
.card > .add_to_cart.selected,
.card.in_cart > .add_to_cart{
	background: #ffcc00;
}
.card > .add_to_cart.selected:before,
.card.in_cart > .add_to_cart:before{
	background-position: -81em -81em;
}
.card > .product_info{
	top: 15px;
	right: 15px;
	cursor: pointer;
	opacity: 0.5;
	position: absolute;
}
.card > .product_info:before{
    background-position: -45em -45em;
    position: absolute;
    z-index: 95;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #fff;
}
.card > .product_info > .description{
	display: none;
}
.card > .product_info:hover{
	opacity: 1;
}
.card > .product_info:hover > .description{
    width: 450px;
    height: 300px;
    background: #4a4a4a;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 17.5px;
    z-index: 90;
}

.recommendations{
    background-image: linear-gradient(to right,#fbdb57,#f1c200);
    height: 322.5px;
    margin-left: 15vw;
    margin-top: 15px;
    padding: 30px;
    width: 70vw;
    box-shadow: 0 3px 6px 0 rgba(74,74,74,.1);
    border-radius: 6px;
    position: relative;
    left: -15px;
    overflow-x: auto;
    overflow-y: hidden;
}
.recommendations > .horizontal_scroll{
    width: calc((250px + 15px) * 5);
    height: 100%;
    padding-right: 30px;
    display: flex;
    justify-content: center;
}
.recommendations > .horizontal_scroll > .card{
    width: 250px;
    margin: 0 15px 0 0;
    display: inline-block;
}
.recommendations > .horizontal_scroll > .card:last-child{
    margin: 0;
}
@media (max-width: 1350px){
	.content,
	.top_info{
		grid-template-columns: repeat(4, 250px);
	}
}
@media (max-width: 1100px){
	.content,
	.top_info{
		grid-template-columns: repeat(3, 250px);
	}
}
@media (max-width: 800px){
	.content{
		grid-template-columns: repeat(2, 250px);
	}
	.top_info{
		grid-template-columns: repeat(1, 250px);
	}
	.geo,
	.phone{
		display: none;
	}
}
@media (max-width: 576px){
	.content{
		grid-template-columns: repeat(1, 250px);
	}
}