<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Монастырёв</title>
		<link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		<link rel="stylesheet" href="static/style/style.css">
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.7.0/d3.min.js"></script> -->
		<script src="static/scripts/jquery-3.3.1.min.js"></script>
		<script src="static/scripts/jquery.cookie.js"></script>
	</head>
	<body>
		<div class="top_info">
			<div class="logo"></div>
			<div class="geo" style="padding: 0 40px;">
				<div class="icon icon--geo"><p>Владивосток</p></div>
				<h4>24 аптеки</h4>
			</div>
			<div class="phone">
				<div class="icon icon--phone"><p>8 800 707 77 33</p></div>
				<h4>с 7:00 до 23:00</h4>
			</div>
		</div>
		<div class="menu" style="top: 75px">
			<a class="menu__item jsFromLeft" href="/">Главная</a>
			<a class="menu__item" href="#">О нас</a>
			<a class="menu__item" href="#">Наши аптеки</a>
			<a class="menu__item" href="#">Скидки</a>
			<a class="menu__item menu__item--cart jsFromRight" href="/cart"><div class="cart_button"><div class="icon icon--cart"></div><p class="cart_button__text">Корзина пуста</p></div></a>
		</div>
		<h1 class="jsFromLeft">Мы рекомендуем вам</h1>
		<div class="recommendations jsCenterForRecomend">
			<div class="horizontal_scroll">
				{% for name, price, category, id in rec_info %}
				<div class="card">
					<div class="product_image" style="background-image: url('static/images/products/{{ id }}.JPG');"></div>
					<div class="product_name">{{ name }}</div>
					<div class="product_price">{{ price }}</div>
					<div class="add_to_cart" itemID="{{ id }}"></div>
				</div>
				{% endfor %}
			</div>
		</div>
		<h1 class="jsFromLeft">Корзина</h1>
		<div class="content content--cart">
			<div class="items_in_cart">
				<div class="card">
				<div class="product_image" style="background-image: url('./images/products/1.JPG');"></div>
				<div class="product_name">Лизобакт</div>
				<div class="product_price">241.00</div>
				<div class="add_to_cart"></div>
			</div>
			{% for name, price, category, id in info %}
			<div class="card">
				<div class="product_image" style="background-image: url('static/images/products/{{ id }}.JPG');"></div>
				<div class="product_name">{{ name }}</div>
				<div class="product_price">{{ price }}</div>
				<div class="add_to_cart"></div>
			</div>
			{% endfor %}
			</div>
			<div class="receipt">
				<div class="receipt__title">Ваш заказ</div>
				<div class="receipt__items">10</div>
				<div class="receipt__price">698</div>
				<div class="receipt__discount">698</div>
				<hr>
				<div class="receipt__sum">100.000</div>
				<div class="order_btn">Оформить заказ</div>
			</div>
		</div>
		<script src="static/scripts/script.js"></script>
	</body>
</html>